.header {
    max-width: 100vw;
    min-height: 4rem;
    max-height: 6rem;
    background: transparent;
}

.fixedContainer {
    position: fixed;
    width: 100%;
    z-index: 999;
    background: #fff;
}

.navbar {
    margin: 0 auto;
    width: 70vw;
    min-height: 4rem;
    max-height: 6rem;

    padding: 0 2rem;
}

.nav {
    flex: 1;
    align-items: center;
}

.nav li {
    flex: .5;
}

.nav li:first-of-type {
    flex: 1;
    font-weight: 900;
    font-size: 1.6rem;
}

.title {
    font-size: 1.2rem;
    font-weight: 800;
    transition: color 150ms linear;
}

.navList button,
.navList a {
    font-size: .6rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #bababa;
    transition: color 150ms linear;
}


.navList a {
    padding: 0 .8rem;
}

.themeBtnWrapper {
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.themeBtnWrapper button {
    cursor: pointer;
    border: none;
    width: 2.2rem;
    height: 1.2rem;
    border-radius: 2em;
    background: #ccc;
}

.themeBtn div {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background: #fff;
    transition: all 150ms linear;
    transform: translateX(20%);
}

.themeBtn.true div {
    transform: translateX(180%);
}

.themeBtnLight {
    transition: color 150ms linear;
    color: var(--black-dark);
}

.themeBtnDark {
    transition: color 150ms linear;
    color: #fff;
}

/* Dark Mode */
.navbar.true .title {
    color: #fff;
}

.navbar.true .navList button {
    color: rgba(255, 255, 255, 0.7);
}

.fixedContainer.true {
    background: var(--black-dark);
}

/* Pseudo Effects */
.title:hover {
    color: rgb(0, 0, 0, 0.8);
}

.navList button:hover,
.navList a:hover {
    color: rgba(0, 0, 0, 0.9);
}

.navbar.true .navList button:hover,
.navbar.true .navList a:hover {
    color: rgba(255, 255, 255, 1);
}

/* Media Queries -- changed screen size */
@media only screen and (max-width: 900px) {
    .navbar {
        max-width: 90vw;
    }
}

@media only screen and (max-width: 768px) {
    .navList {
        display: none;
    }
}